* {
    --background: #ffffff; /* Cambia el color de fondo aquí */
  }

  .color-btn{
    --background: #1f1d6e!important;
    color:rgb(255, 255, 255);
  }
  ion-content.fondohome {
  --background: url('../../assets/inicio.png')center center/cover no-repeat; /* Reemplaza 'ruta/de/la/imagen.jpg' con la ruta real de tu imagen */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  }
