<ion-header style="background: #ffffff;">
  <div style="">
    <img id="ImagenAnimada" src="assets/LOGO.png" width="130  " height="55">
  </div>
</ion-header>

<ion-content class="fondohome">
  <div *ngIf="esDispositivoMovil">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
      <p style="color: rgb(255, 255, 255);">Descarga nuestra nueva App móvil</p>
      <div style="text-align: center;">
        <a href="https://drive.google.com/file/d/1tHrgh6gCLjG4j3qNVbDVFkA7OQ54odhV/view" target="_system">
          <ion-button class="color-btn">Descarga Aquí</ion-button>
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="!esDispositivoMovil">
    
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
      <p style="color: rgb(255, 255, 255);">Escanea el código QR para vivir la experiencia.</p>
      <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://drive.google.com/file/d/1tHrgh6gCLjG4j3qNVbDVFkA7OQ54odhV/view" alt="">
      <!-- <img [src]="urlCodigoQR" alt=""> -->
    </div>
    
  </div>
  <img src="" alt="">

</ion-content>

